{%extends '::base.html.twig'%}

{% block title %}{{ parent() }}-Almuerzo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/reservacion/css/almuerzo.css') }}">
{% endblock %}


{% block activealmuerzo %}class="active"{% endblock %}
{% block body %}

    <div class="bs-docs-section container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12 reservados">
                <div class="panel">
                    <div class="panel-heading">Reservaciones</div>
                    <div>
                        <form  name="confirmar" action="" class="form-horizontal" >
                            <input type="hidden" id="almuerzos"/>
                            <div id="platos">
                            </div>
                            <p >Importe: <em id="importe"></em></p>
                            <a href="#"  class="reservar btn btn-primary">Confirmar</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-lg-9">
                <div class="col-lg-4 col-sm-4">
                    <div class="thumbnail">
                        <img  src="{{ asset('bundles/reservacion/images/platos/Pollo frito.jpg') }}" class="thumbnail" alt=""/>
                        <div class="caption">
                            <h4>$ 15 Arroz con pollo frito<a href="#" class="plus"><span class="glyphicon glyphicon-plus pull-right"></span></a></h4>
                            <fieldset id="plato-1" class="hidden">
                                <p >El Arroz con pollo sus ingredientes principales son el pollo frito y el arroz, con ensalada de verduras.</p>
                                <div class="form-group">
                                    <label for="cant1">Cantidad a reservar</label>
                                    <input type="number"  id="cant1" class="form-control " />
                                    <input type="hidden" value="Arroz con pollo/15" id="costo1"/>
                                </div>
                                <a href="#"  class="reservar btn btn-primary">Reservar</a>
                                <a href="#"  class="cancelar btn btn-danger">Cancelar</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="thumbnail">
                        <img src="{{ asset('bundles/reservacion/images/platos/Arroz con hamburguesa.jpg') }}" class="thumbnail" alt=""/>
                        <div class="caption">
                            <h4>$15 Arroz con hamburguesa<a href="#" class="plus"><span class="  glyphicon glyphicon-plus pull-right"></span></a></h4>
                            <fieldset id="plato-2" class="hidden">
                                <p >Arroz con hamburguesa de cerdo bien frita</p>
                                <div class="form-group">
                                    <label for="cant2">Cantidad a reservar</label>
                                    <input type="number"  id="cant2" class="form-control " />
                                    <input type="hidden" value="Arroz con pollo/25" id="costo2"/>
                                </div>
                                <a href="#"  class="reservar btn btn-primary">Reservar</a>
                                <a href="#"  class="cancelar btn btn-danger">Cancelar</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="thumbnail">
                        <img src="{{ asset('bundles/reservacion/images/platos/spaghetti.jpg') }}" class="thumbnail" alt=""/>
                        <div class="caption">
                            <h4>$15 Spaghetti napolitanos<a href="#" class="plus"><span class="  glyphicon glyphicon-plus pull-right"></span></a></h4>
                            <fieldset id="plato-3"  class="hidden">
                                <p >Tomate entero pelado, un pimiento verde, dos cebollas blancas medianas, azúcar, sal, aceite, una guindilla y dos dientes de ajo.</p>
                                <div class="form-group">
                                    <label  for="cant3">Cantidad a reservar</label>
                                    <input type="number" id="cant3" class="form-control " />
                                    <input type="hidden" value="Ropa vieja/25" id="costo3"/>
                                </div>
                                <a href="#"  class="reservar btn btn-primary">Reservar</a>
                                <a href="#"  class="cancelar btn btn-danger">Cancelar</a>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/reservacion/js/almuerzo.js') }}"></script>
{% endblock %}